.my-modal {
    padding: 5px 0;
    height: 160px;
    width: 350px;
    margin: 100px auto;
    text-align: center;
    background-color: #d4af37;
    color: #000;
    border: none;

    .close {
        position: relative;
        bottom: -5px;
        border: 1px solid #000;
        border-radius: 5px;
        background-color: #fff;
        padding: 5px 10px;
    }
}
