.sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;
    @media screen and (max-width: 992px) {
        margin-top: 80px;
        min-width: 75vw;
      }

    .title {
        margin: 10px 0;
    }
}