.footer {
    margin-top: 20px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;

    .logo {
        height: 30px;
        margin-right: 5px;
        position: relative;
        bottom: 3px;
    }

    .nolancode {
        font-family: 'Goldman';
        margin-left: 5px;
        margin-right: 5px;
        font-weight: 900;
        color: #000;
        position: relative;
        bottom: -1px;
    }
}