.basket-icon {
    width: 45px;
    height: 45px;
    position: relative;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .shopping-icon {
      width: 24px;
      height: 24px;
      @media (max-width: 860px) {
        filter: brightness(0) invert(1);
      }
    }
  
    .item-count {
      color: #a18930;
      position: absolute;
      font-size: 10px;
      font-weight: bold;
      bottom: 12px;
      @media (max-width: 860px) {
        color: #fff;
      }
    }
}
  